{% extends 'base.html.twig' %}

{% block title %}House index{% endblock %}

{% block body %}
    <h1>House index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Description</th>
                <th>Nom</th>
                <th>Image</th>
                <th>Nombre de chambres</th>
                <th>nombre de personnes max</th>
                <th>Prix par nuit</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for house in houses %}
            <tr>
                <td>{{ house.id }}</td>
                <td>{{ house.description }}</td>
                <td>{{ house.name }}</td>
                <td>{{ house.imagePath }}</td>
                <td>{{ house.numberRooms }}</td>
                <td>{{ house.numberGuest }}</td>
                <td>{{ house.price }}</td>
                <td>
                    <a href="{{ path('app_house_show', {'id': house.id}) }}">show</a>
                    <a href="{{ path('app_house_edit', {'id': house.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_house_new') }}">Create new</a>
{% endblock %}
