{% extends 'base.html.twig' %}

{% block title %}{{ house.name }}{% endblock %}

{% block body %}



            <section class="d-flex gap-5 testt flex-wrap justify-content-center flex-row details">

                <div class="card">
                    <h2>{{ house.name }}</h2>
                    <h3>{{ house.address }}</h3>

                    <p>{{ house.description }}</p>
<a href="{{ path('reservation')}}">Réserver</a>
        </form>
                    <img class="img" src="/images/upload/{{ house.imagePath }}" alt="house">
                    <p>{{ house.price }}</p>
                     <h4>Équipements:</h4>
        <ul>
            {% for equipement in house.equipements %}
                <li>{{ equipement.label }}</li>
            {% endfor %}
        </ul>
                </div>
            </section>

            {% endblock %}