{% extends 'base.html.twig' %}

{% block title %}{{ house.name }}{% endblock %}

{% block body %}
<section class="d-flex align-items-center catego">
    <div class="first-section">
        <h2>{{ house.name }}</h2>
        <h3>{{ house.address }}</h3>
        <p>{{ house.description }}</p>
        <img class="imgDet" src="/images/upload/{{ house.imagePath }}" alt="house">
    </div>

    <div class="second-section" > 
       <h4>Prix à la nuit:</h4>
        <p>{{ house.price }}</p>
        <h4>Équipements:</h4>
        <ul>
            {% for equipement in house.equipements %}
                <li>{{ equipement.label }}</li>
            {% endfor %}
        </ul>
        
{# condition pour afficher le bouton seulement si l'user est connecté #}
        {% if app.user %}
        <a class="btn btn-danger resa" href="{{ path('app_reservation_new', {'id': house.id})}}">Réserver</a>
        {% endif %}
<a class="btn btn-danger" href="{{ path('accueil')}}">Retour</a>
    </div>
</section>

{% endblock %}
