{% extends 'base.html.twig' %}

{% block title %}Liste des logement en bord de mer{% endblock %}

{% block body %}
<header>
  
      <h1 class="title">Liste des logements en bord de mer</h1>

      <section class="d-flex gap-5 flex-wrap justify-content-center flex-row">

       {% for house in houses %}
              <a class="ah" href="{{ path('app_house_details', {'id': house.id})}}">

       <div class="imcard" style="width: 25rem;">
      <div class="rounded-image">
        <img class="img house-image" src="/images/upload/{{ house.imagePath }}" alt="house">
      </div>
      <div class="card-body">
        {# <p class="font">{{ house.description }}</p> #}
        <p class="font">{{ house.name }}</p>
        <p class="desc">{{ house.address }}</p>
        <p class="price">{{ house.price }}</p>
      </div>
    </div>
              </a>

      {% endfor %}
      </section>
      {% endblock %}